.category {
  /* Box model */
  box-sizing: border-box;
  margin: 0 10px;
  min-width: 20%;
  height: 100px;
  vertical-align: center;
  align-self: start;
  align-content: center;
  padding: 15px;

  /* Visual */
  background: #17245e;
  border-radius: 8px;
  color: #fff;

  /* Typography */
  font-size: 1rem;
  text-align: center;

  /* Interactive */
  cursor: pointer;
  transition: background 0.2s;
}

.category:hover {
  /* Visual */
  background: #70a3c8;
  color: #122d4f;
}

.category-nav {
  /* Box model */
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 400px;
  min-width: 85%;
  padding: 5px 0;
  width: 100%;

  /* Layout */
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;

  /* Visual */
  background: #000000;
  overflow: scroll;
  overflow-y: hidden;
}
